<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.mybatis.test.bankBook.BankBookDAO">

<insert id="add" parameterType="com.mybatis.test.bankBook.BankBookDTO">
INSERT INTO BANKBOOK
VALUES(
	#{bookNum},
	#{bookName},
	#{bookRate},
	1	)
</insert>

<select id="list" parameterType="com.mybatis.test.bankBook.BankBookDTO" resultType="com.mybatis.test.bankBook.BankBookDTO">
SELECT *
FROM BANKBOOK
ORDER BY BOOKNUM DESC
</select>

<select id="detail" parameterType="com.mybatis.test.bankBook.BankBookDTO" resultType="com.mybatis.test.bankBook.BankBookDTO">
SELECT *
FROM BANKBOOK
WHERE BOOKNUM =#{bookNum}
</select>

<update id="update" parameterType="com.mybatis.test.bankBook.BankBookDTO">
UPDATE BANKBOOK
SET BOOKNAME=#{bookName}, BOOKRATE=#{bookRate}
WHERE BOOKNUM = #{bookNum}
</update>
<delete id="delete" parameterType="com.mybatis.test.bankBook.BankBookDTO">
DELETE BANKBOOK
WHERE BOOKNUM=#{bookNum}
</delete>



</mapper>	